# PSA HomeDir Configuration Data
# Automatically pushed from Ansible Configuration Server
### All manual changes will be lost ###

goldberv        192.168.7.7:/fileserver/homedirs/goldberv
kiwus           192.168.7.7:/fileserver/homedirs/kiwus
drexledo        192.168.1.3:/mnt/home/drexledo
berchtoa        192.168.1.3:/mnt/home/berchtoa
mitterem        192.168.2.6:/mnt/home/mitterem
langlech        192.168.2.6:/mnt/home/langlech
legenc          192.168.3.1:/mnt/home/legenc
kriegerd        192.168.3.1:/mnt/home/kriegerd
muthm           192.168.3.1:/mnt/home/muthm
niedermp        192.168.4.3:/mnt/home/niedermp
theissi         192.168.4.3:/mnt/home/theissi
tipecska        192.168.5.7:/mnt/home/tipecska
zieglmev        192.168.5.7:/mnt/home/zieglmev
schlagbe        192.168.6.3:/mnt/home/schlagbe
ottor           192.168.6.3:/mnt/home/ottor
luebben         192.168.8.6:/mnt/home/luebben
werneck         192.168.8.6:/mnt/home/werneck
yonis           192.168.10.3:/mnt/home/yonis
buik            192.168.10.3:/mnt/home/buik
